<% title "Setting: Project" %>

<div class="panel panel-flat">
  <div class="panel-body">
    <%= form_for([naturesoft, :admin, Naturesoft::Option.new], html: {}) do |f| %>
      <div class="row">
        <div class="col-md-3"><h4 class="text-semibold">Thumbnail <span class="text-muted small">Code</span></div>
        <div class="col-md-2"><br>Width</div>
        <div class="col-md-2"><br>Height</div>
        <div class="col-md-3"><br>Scale</div>
        <div class="col-md-2"></div>
      </div>
      
      <div class="addable-form" data-sample="thumbnail-size-form">
        <div class="addable-container">
          <% @options["projects"]["images_thumbnails"].each_with_index do |size, index| %>
            <%= render 'thumbnail_size', size: size[1], index: index %>
          <% end %>
        </div>
        <a href="#add" class="btn btn-info addable-add">Add new size</a>
      </div>
      
      <hr>
      <h4 class="text-semibold">Listing</h4>
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="form-group">
            <label class="control-label" ><%= t(:items_per_page) %> <span class='text-danger'>*</span></label>
            <div class="">
              <%= text_field_tag "options[projects][items_per_page]", @options["projects"]["items_per_page"], class: "form-control number_input" %>
            </div>
          </div>          
        </div>
      </div>
    
      <div class="text-right">
        <%= button_tag "#{t(:save)}<i class=\"icon-check position-right\"></i>".html_safe, class: "btn btn-primary"%>
        <%= link_to "#{t(:cancel)}<i class=\"icon-cross3 position-right\"></i>".html_safe, naturesoft_projects.admin_projects_path, class: "btn btn-danger"%>
      </div>
        
    <% end %>
  </div>
</div>
  
<!-- thumbnail size sample form -->
<div class="thumbnail-size-form hide">
  <%= render 'thumbnail_size', size: {}, index: "<<index>>" %>
</div>
<!--/thumbnail size sample form -->