<% title "Setting: Project" %>

<div class="panel panel-flat">
  <div class="panel-body">
    <%= form_for([naturesoft, :admin, Naturesoft::Option.new], html: {}) do |f| %>
      <h4 class="text-semibold">Thumbnail</h4>
      
      
      
      <hr>
      <h4 class="text-semibold">Listing</h4>
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="form-group">
            <label class="control-label" ><%= t(:items_per_page) %> <span class='text-danger'>*</span></label>
            <div class="">
              <%= text_field_tag "options[projects][items_per_page]", @options["projects"]["items_per_page"], class: "form-control number_input" %>
            </div>
          </div>          
        </div>
      </div>
        
      <!--<h4>Thumbnails</h4>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
            <label class="control-label" ><%= t(:items_per_page) %> <span class='text-danger'>*</span></label>
            <div class="">
              <%= text_field_tag "options[partners][items_per_page]", nil, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
            <label class="control-label" ><%= t(:items_per_page) %> <span class='text-danger'>*</span></label>
            <div class="">
              <%= text_field_tag "options[partners][items_per_page]", nil, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>-->
    
      <div class="text-right">
        <%= button_tag "#{t(:save)}<i class=\"icon-check position-right\"></i>".html_safe, class: "btn btn-primary"%>
        <%= link_to "#{t(:cancel)}<i class=\"icon-cross3 position-right\"></i>".html_safe, naturesoft_projects.admin_projects_path, class: "btn btn-danger"%>
      </div>
        
    <% end %>
  </div>
</div>