<% if project.errors.any? %>
  <div class="alert alert-warning alert-bordered">
    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this slide from being saved:</h2>
  
      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="panel panel-flat">
  
  <div class="panel-heading"></div>
  
  <div class="panel-body">
    <%= form_for([naturesoft_projects, :admin, project], html: {class: "form-horizontal validate", multipart: true}) do |f| %>
    
      <div class="tabbable">
        <ul class="nav nav-tabs nav-tabs-bottom">
          <li class="active"><a href="#right-icon-tab1" data-toggle="tab" aria-expanded="true"><i class=" icon-spinner4 position-left"></i> Genaral</a></li>
          <li class=""><a href="#right-icon-tab2" data-toggle="tab" aria-expanded="false"><i class="icon-attachment position-left"></i> Pictures</a></li>
        </ul>
  
        <div class="tab-content">
          <div class="tab-pane active" id="right-icon-tab1">
              <div class="form-group">
                <label class="col-md-2 control-label" ><%= t(:name) %> <span class='text-danger'>*</span></label>
                <div class="col-md-10">
                  <%= f.text_field :name, class: "form-control required" %>
                </div>
              </div>
                
              <div class="form-group">
                <label class="col-md-2 control-label" ><%= t(:website) %> <span class='text-danger'>*</span></label>
                <div class="col-md-10">
                  <%= f.text_field :website, class: "form-control required" %>
                </div>
              </div>
                
              <div class="form-group">
                <label class="col-md-2 control-label" ><%= t(:related_category) %> <span class='text-danger'>*</span></label>
                <div class="col-md-10">
                  <%= f.collection_select(:category_id, Naturesoft::Projects::Category.all, :id, :name, {:prompt=> "Choose..."}, {class: "select2"}) %>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-md-2 control-label" ><%= t(:description) %> </label>
                <div class="col-md-10">
                  <%= f.text_area :description, class: "form-control", style: "min-width:100%;max-width:100%" %>
                </div>
              </div>
          </div>
  
          <div class="tab-pane addable-form" data-sample="image-form" id="right-icon-tab2">
            <div class="addable-container">
              <% project.images.each_with_index do |image,index| %>
                <%= render "image_form", item: image, index: index %>
              <% end %>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="text-left">
                  <a href="#add" class="btn btn-info addable-add">Add Image <i class="icon-plus2 position-center"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-right">
        <%= button_tag "#{t(:save)}<i class=\"icon-check position-right\"></i>".html_safe, class: "btn btn-primary"%>
        <%= link_to "#{t(:cancel)}<i class=\"icon-cross3 position-right\"></i>".html_safe, naturesoft_projects.admin_projects_path, class: "btn btn-danger"%>
      </div>
      
    <% end %>
  </div>
</div>

<!-- thumbnail size sample form -->
<div class="image-form hide">
  <%= render 'image_form', item: Naturesoft::Projects::Image.new, index: "<<index>>" %>
</div>
<!--/thumbnail size sample form -->